body {
  margin: 0;
  background-color: whitesmoke;
}
.header {
  display: flex;
  background-color: #0366d6;
  padding-left: 30px;

  align-items: center;
}
.logo {
  width: 80px;
  height: 80px;
}
.input_search {
  padding: 10px 35px;
  min-width: 500px;
  border-radius: 8px;
  border: 3px solid #0366d6;
}
.search_icon {
  position: absolute;
  top: 7px;
  left: 7px;
  width: 25px;
  height: 25px;
}
.search-div {
  position: relative;
}
.user-container {
  display: flex;
  padding-top: 50px;
}
.user-information {
  flex-basis: 30%;
  padding-left: 50px;
}
.user-name {
  font-size: 24px;
  font-weight: 600;
  padding-top: 30px;
}
.user-login {
  font-size: 16px;
  font-weight: 400;
  color: #0366d6;
  padding-top: 20px;
}
.follow-container {
  display: flex;
  padding-top: 30px;
  gap: 15px;
  color: gray;
  align-items: center;
}
.user-followers {
  display: contents;
  align-items: center;
}
.user-following {
  display: contents;
  align-items: center;
}
.title {
  font-size: 42px;
  font-weight: 600;
  margin: 0;
}
.repos {
  list-style-type: none;
  padding: 0;
}
.repos-element {
  display: flex;
  flex-direction: column;
  padding: 12px;
  background-color: white;
  margin-bottom: 12px;
  gap: 8px;
}
